.pagination {
    display: flex;
    gap: 7px;
}
.pagination-button {
    border: none;
    background: none;
    color: #e2f7fc;
    transition: 0.4s;
    &:hover {
        text-decoration: underline;
    }
}
.pagination-active {
    color: #ffa500;
}